

body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  #user-profile {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  #bonus-points, #actual-points {
    font-weight: bold;
    margin-top: 10px;
  }
  
  #tasks-container {
    margin-top: 20px;
  }


#home, #logout {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
  position: absolute;
  padding: 8px;
  border: 2px solid blue;
  border-radius: 5px;
}

#home {
  right: 6%;
}

#logout {
  right: 1%;
}
  